@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

/* ----------------------------------------------- */

.section {
    background: #eee;
    padding: 160px 0;
}

.section .inner {
    max-width: 1440px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.section .inner>.title {
    margin-bottom: 50px;
}

.section .inner>.title h3 {
    font-weight: bold;
    font-size: 45px;
}

.section .inner>.title p {
    font-weight: 400;
    font-size: 22px;
}

/* ------------------------------------------------------ */

.section-01 .item-wrap {
    display: flex;
    justify-content: space-between;
}

.section-01 .item-wrap > div {
    width: 48.75%;
    height: 546px;
}

.section-01 .item-wrap .item {
    position: relative;
}

.section-01 .item-wrap .item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-01 .item-wrap .item-right .item {
    height: 255px;
}

.section-01 .item-wrap .item .img  {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    overflow: hidden;
}

.section-01 .item-wrap .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-01 .item-wrap .item .text {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    padding: 50px;

    color: #fff;
}

.section-01 .item-wrap .item .text h3 {
    font-size: 32px;
}

.section-01 .item-wrap .item .text p {
    font-size: 18px;
    margin-top: 10px;
}

.section-01 .item-wrap .item-right .text {
    padding: 40px;
}


@media screen and (max-width: 768px) {
    .section-01 .item-wrap .item .text {
        padding: 20px;
    }
    
    .section-01 .item-wrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .section-01 .item-wrap > div {
        width: 100%;
        height: auto;
        gap: 30px;
    }

    .section-01 .item-wrap .item-left {
        height: 77.82vw;
    }

    .section-01 .item-wrap .item-right {
        height: 255px;
    }
}